<ion-view view-title="Save Vehicle" class="background-menu">
  <ion-content class="padding addVehiclePage">
          <form class="vehicleForm" name="form">
                  <div class="list">
                      <label class="item item-input item-select">
                        <div class="input-label">
                          Vehicle Type
                        </div>
                        <select ng-model="newCtrl.form.vehicleType">
                          <option selected>Semi-truck</option>
                          <option>Semi-trailer</option>
                          <option>Trailer</option>
                          <option>Car</option>
                          <option>Truck</option>
                          <option>Motorbike</option>
                          <option>Ship</option>
                          <option>Boat</option>
                          <option>Airplane</option>
                          <option>Helicopter</option>
                        </select>
                      </label>
                  </div>
                  <div class="list">

                      <label class="item item-input item-select">
                        <div class="input-label">
                          Vehicle Status
                        </div>
                        <select ng-model="newCtrl.form.activeStatus">
                          <option selected>Active</option>
                          <option>Inactive</option>
                          <option>In Repair</option>
                        </select>
                      </label>
                  </div>   

                 <div class="list">
                    <label class="item item-input">
                      <span class="input-label">VIN Number</span>
                      <input type="text" required placeholder="Enter VIN Number" ng-model="newCtrl.form.vehicleVIN">
                    </label>
                  </div>

                  <div class="list">
                    <label class="item item-input">
                      <span class="input-label">Vehicle Year</span>
                      <input type="text" placeholder="Enter Vehicle Year" ng-model="newCtrl.form.vehicleYear">
                    </label>
                  </div>

                  <div class="list">
                      <label class="item item-input item-select">
                        <div class="input-label">
                          Vehicle Make
                        </div>
                        <select ng-model="newCtrl.form.vehicleMake">
                          <option selected>N/A</option>
                          <option>Mercedes</option>
                          <option>BMW</option>
                          <option>Volvo</option>
                        </select>
                      </label>
                  </div>
              
              <hr />
              <h4 class="pad-top-10">Vehicle Registration:</h4>

                <div class="list">
                    <label class="item item-input">
                      <span class="input-label">License Number</span>
                      <input type="text" placeholder="Enter License Number" required ng-model="newCtrl.form.registrationNumber">
                    </label>
                  </div>
   
               <h4>Registeration Date:</h4>
                 <p class="input-group" style="border: 1px solid #ddd; width:100%; height:40px;" ng-click="newCtrl.openCalendar(newCtrl.registrationDate, newCtrl.registrationPopup)">
                    <input type="text" style="padding-left: 10px; width:100%;" uib-datepicker-popup="{{newCtrl.format}}" ng-model="newCtrl.registrationDate" is-open="newCtrl.registrationPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="newCtrl.altInputFormats" />
                    <span class="input-group-btn">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </p>

               
                <label class="item item-input">
                  <span class="input-label">Number of Months</span>
                  <input type="text" placeholder="Enter number of months registration is valid" ng-model="newCtrl.form.registrationMonths">
                </label>  

              <hr />
              <h4 class="pad-top-10">Insurance Information:</h4>

                <div class="list">
                    <label class="item item-input">
                      <span class="input-label">Insurance Company</span>
                      <input type="text" placeholder="Enter Insurance Name" ng-model="newCtrl.form.insuranceCompany">
                    </label>
                 </div>

                <div class="list">
                    <label class="item item-input">
                      <span class="input-label">Insurance Number</span>
                      <input type="text" placeholder="Enter Insurance Number" ng-model="newCtrl.form.insuranceNumber">
                    </label>
                  </div>

              <h4>Insurance Date:</h4>
   
                  <p class="input-group" style="border: 1px solid #ddd; width:100%; height:40px;" ng-click="newCtrl.openCalendar(newCtrl.insuranceDate, newCtrl.insurancePopup)">
                    <input type="text" style="padding-left: 10px; width:100%;" uib-datepicker-popup="{{newCtrl.format}}" ng-model="newCtrl.insuranceDate" is-open="newCtrl.insurancePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="newCtrl.altInputFormats" />
                    <span class="input-group-btn">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </p>
                
                <label class="item item-input">
                  <span class="input-label">Number of Months</span>
                  <input type="text" placeholder="Enter number of months it is valid for" ng-model="newCtrl.form.insuranceMonths">
                </label>  

              <hr />
             

              <h4 class="pad-top-10">Comprehensive Insurance Information:</h4>

                 <div class="list">
                    <label class="item item-input">
                      <span class="input-label">Insurance Company</span>
                      <input type="text" placeholder="Enter Insurance Name" ng-model="newCtrl.form.secondInsuranceCompany">
                    </label>
                 </div>

                <div class="list">
                    <label class="item item-input">
                      <span class="input-label">Insurance Number</span>
                      <input type="text" placeholder="Enter Insurance Number" ng-model="newCtrl.form.secondInsuranceNumber">
                    </label>
                  </div>

              <h4>Comprehensive Insurance Date:</h4>
   
                  <p class="input-group" style="border: 1px solid #ddd; width:100%; height:40px;" ng-click="newCtrl.openCalendar(newCtrl.secondInsuranceDate, newCtrl.secondInsurancePopup)">
                    <input type="text" style="padding-left: 10px; width:100%;" uib-datepicker-popup="{{newCtrl.format}}" ng-model="newCtrl.secondInsuranceDate" is-open="newCtrl.secondInsurancePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="newCtrl.altInputFormats" />
                    <span class="input-group-btn">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </p>

                <label class="item item-input">
                  <span class="input-label">Number of Months</span>
                  <input type="text" placeholder="Enter number of months it is valid for" ng-model="newCtrl.form.secondInsuranceMonths">
                </label>  

              <hr />

                <h4 class="pad-top-10">Cargo Insurance Information:</h4>

                <div class="list">
                    <label class="item item-input">
                      <span class="input-label">Insurance Company</span>
                      <input type="text" placeholder="Enter Insurance Name" ng-model="newCtrl.form.cargoInsuranceCompany">
                    </label>
                 </div>

                <div class="list">
                    <label class="item item-input">
                      <span class="input-label">Insurance Number</span>
                      <input type="text" placeholder="Enter Insurance Number" ng-model="newCtrl.form.cargoInsuranceNumber">
                    </label>
                  </div>

              <h4>Cargo Insurance Date:</h4>
   
               <p class="input-group" style="border: 1px solid #ddd; width:100%; height:40px;" ng-click="newCtrl.openCalendar(newCtrl.cargoInsuranceDate, newCtrl.cargoInsurancePopup)">
                    <input type="text" style="padding-left: 10px; width:100%;" uib-datepicker-popup="{{newCtrl.format}}" ng-model="newCtrl.cargoInsuranceDate" is-open="newCtrl.cargoInsurancePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="newCtrl.altInputFormats" />
                    <span class="input-group-btn">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </p>
              
                <label class="item item-input">
                  <span class="input-label">Number of Months</span>
                  <input type="text" placeholder="Enter number of months it is valid for" ng-model="newCtrl.form.cargoInsuranceMonths">
                </label>  
              <hr />

              <h4>Technical Inspection Date:</h4>
   
                  <p class="input-group" style="border: 1px solid #ddd; width:100%; height:40px;" ng-click="newCtrl.openCalendar(newCtrl.techInspectionDate, newCtrl.techInspectionPopup)">
                    <input type="text" style="padding-left: 10px; width:100%;" uib-datepicker-popup="{{newCtrl.format}}" ng-model="newCtrl.techInspectionDate" is-open="newCtrl.techInspectionPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="newCtrl.altInputFormats" />
                    <span class="input-group-btn">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </p>
              
                <label class="item item-input">
                  <span class="input-label">Number of Months</span>
                  <input type="text" placeholder="Enter number of months it is valid for" ng-model="newCtrl.form.techInspectionMonths">
                </label>  

              <hr />
              <h4>Periodic Maintence Date:</h4>
   
                  <p class="input-group" style="border: 1px solid #ddd; width:100%; height:40px;" ng-click="newCtrl.openCalendar(newCtrl.maintenanceInspectionDate, newCtrl.maintenanceInspectionPopup)">
                    <input type="text" style="padding-left: 10px; width:100%;" uib-datepicker-popup="{{newCtrl.format}}" ng-model="newCtrl.maintenanceInspectionDate" is-open="newCtrl.maintenanceInspectionPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="newCtrl.altInputFormats" />
                    <span class="input-group-btn">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </p>

              
                <label class="item item-input">
                  <span class="input-label">Number of Months</span>
                  <input type="text" placeholder="Enter number of months it is valid for" ng-model="newCtrl.form.maintenanceInspectionMonths">
                </label>  
     
        <hr />
        <div class="margin-auto">
          <button class="button button-positive" ng-disabled="form.$invalid" ng-click="newCtrl.makeVehicle()">Save Vehicle</button>
          <button class="button mar-left-10" ng-click="newCtrl.clearForm()">Clear Form</button>
        </div> 
      </form>
      
  </ion-content>
</ion-view>
