<ion-view view-title="Vehicle Dashboard - v1.0" class="dashboardView">
  
  <ion-content class="padding">

    <div style="width: 300px; float: right;">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search VIN#, License#">
      </label>
    </div>

    <div>
        <button class="button button-positive button-small" ng-click="dashCtrl.openVehiclePage();">Add Vehicle</button>
      <!--
        <button class="button button-positive button-small">Create Form</button> 
        <button class="button button-positive button-small">Email Report</button> 
        -->
    </div> 

     <div style="padding-top:20px;">
        <h3>Needs Action Soon:</h3>
     </div>
     <hr />

     <div class="row" style="width:99%; padding-left:15px;">
            <div class="col col-10">
              Type
            </div>
             <div class="col col-20">
              License
            </div>
             <div class="col col-10">
              Registration
            </div>
             <div class="col col-10">
              Insurance
            </div>
             <div class="col col-10">
              Comprehensive
            </div>
             <div class="col col-10">
              Cargo
            </div>
            <div class="col col-10">
              Technical
            </div>
             <div class="col col-10">
              Periodic
            </div>
             <div class="col col-10">
              Status
            </div>
        </div>
    <ion-list>
      <ion-item ng-repeat="item in dashCtrl.vehiclesList" ng-click="dashCtrl.openVehicleDetails(item.vehicleVIN)">
        <div class="row">
            <div class="col col-10">
              <i class="icon ion-android-bus"></i>
              {{item.vehicleType}}
            </div>
             <div class="col col-20">
                <i class="icon ion-android-folder-open"></i>
              <span>{{item.registrationNumber}}</span>
            </div>
             <div class="col col-10">
              <i class="icon ion-calendar"></i>
              {{item.registrationExpiresOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
               <i class="icon ion-calendar"></i>
              {{item.insuranceExpiresOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
                <i class="icon ion-calendar"></i>
              {{item.secondInsuranceExpiresOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
                <i class="icon ion-calendar"></i>
              {{item.cargoInsuranceExpiresOn | date:'dd.MM.yyyy'}}
            </div>
            <div class="col col-10">
               <i class="icon ion-calendar"></i>
             {{item.techInspectionExpiresOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
                <i class="icon ion-calendar"></i>
             {{item.maintenanceInspectionExpiresOn | date:'dd.MM.yyyy'}}
            </div>
            <div class="col col-10">
               <i class="icon ion-flag"></i>
              {{item.activeStatus}}
            </div>
        </div>

        <div style="margin-top:5px;" ng-show="dashCtrl.data.selectedVehicleVIN == item.vehicleVIN">
            <div class="row">
              <div class="col col-10">
                {{item.vehicleMake}}
            </div>
             <div class="col col-20">
               VIN: {{item.vehicleVIN}}
            </div>
             <div class="col col-10">
              <i class="icon ion-calendar"></i>
              {{item.registeredOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
               <i class="icon ion-calendar"></i>
              {{item.insuredOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
                <i class="icon ion-calendar"></i>
               {{item.secondInsuranceOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
                <i class="icon ion-calendar"></i>
               {{item.secondInsuranceOn | date:'dd.MM.yyyy'}}
            </div>
            <div class="col col-10">
              <i class="icon ion-calendar"></i>
               {{item.techInspectionOn | date:'dd.MM.yyyy'}}
            </div>
             <div class="col col-10">
                <i class="icon ion-calendar"></i>
               {{item.maintenanceInspectionOn | date:'dd.MM.yyyy'}}
            </div>
            <div class="col col-10">
        
            </div>
          </div>

           <div class="row" style="margin-top:5px;">
              <div class="col col-10">
               Year: {{item.vehicleYear}}
            </div>
             <div class="col col-20">
               Color: {{item.vehicleColor}}
            </div>
             <div class="col col-10">
              {{item.registrationCompany}}
            </div>
             <div class="col col-10">
              
              {{item.insuranceCompany}}
            </div>
             <div class="col col-10">
               {{item.secondInsuranceCompany}}
            </div>
             <div class="col col-10">
               {{item.cargoInsuranceCompany}}
            </div>
            <div class="col col-10">
             
            </div>
             <div class="col col-10">
               
            </div>
            <div class="col col-10">
        
            </div>
          </div>

          <div style="margin-top:5px;">
              <button class="button button-positive button-small" style="width:60px;">Edit</button>
              <button class="button button-small" style="width:60px;">Delete</button>
          </div>
        </div>
     
     </ion-item>
  </ion-list>

  </ion-content>
</ion-view>